body
{
    background-color: teal;
    
}

.column
{
     display: inline;
     padding: 20px;
}

#footer
{
    font-size: 15px;
    font-family: sans-serif;
    text-align: right;
    padding: 9px;
    color: navy;
    font-style: italic;
}

h1, h3, h4
{
    color: rgb(4, 69, 82);
    text-align: center;
}

img:hover
{
    border-radius: 30%;
    border-color: lightgray;
    border-style: solid;
    box-shadow: black;
}

img
{
    width: 450px;
    height: 320px;
}

#camera
{
    height: 400px;
    width: 500px;
    border-color: rgb(12, 77, 72);
}